.Container{
    width: 800px;
    font-weight: 300;
    margin: auto;
    text-align: center;
}

.Heading{
    text-align: center;
    font-weight: 400;
}

.Btn{
    padding: 10px 30px;
    color: #fff;
    font-size: 12px;
    background-color: blueviolet;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

.text{
    font-size: 45px;
    margin: 0 20px;
    font-weight: 700;
}

input{
    padding: 10px;
}